numpy>=1.26,<3; python_version >= "3.10"
numpy==1.21.6; python_version < "3.10"
skyfield>=1.53,<2; python_version >= "3.10"
skyfield==1.49; python_version < "3.10"
timezonefinder>=6.5,<7; python_version >= "3.10"
timezonefinder==5.2.0; python_version < "3.10"
backports.zoneinfo==0.2.1; python_version < "3.9"
pytest>=8,<9; python_version >= "3.10"
pytest>=7,<8; python_version < "3.10"
